h1,
h2 {
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
}

p {
  font-size: 0.9em;
  font-weight: 400;
}

button {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: hsl(322, 100%, 66%);
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

img {
  width: 90%;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

ul {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  row-gap: 20px;
  padding-left: 0;
}

li {
  list-style: none;
}

body {
  margin: 0;
  height: 100vh;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background-color: hsl(193, 100%, 96%);
}

#logo-header {
  width: 30%;
}

#button-header {
  color: black;
  background-color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  background-color: hsla(193, 100%, 96%, 0.9);
  background-image: url(images/bg-hero-mobile.svg);
  background-size: contain;
}

.intro-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  width: 80%;
}
.brand-intro p {
  width: 90%;
  color: hsl(192, 100%, 9%);
}

.brand-intro button {
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 10px 60px;
  border: none;
  border-radius: 20px;
}

.grow,
.conversations,
.users {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 50px 10px 10px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 0.8em;
}

.features-textLeft,
.features-textRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-descs {
  width: 80%;
  color: hsl(208, 11%, 55%);
}

.features-imgs {
  width: 80%;
  margin-bottom: 30px;
}

.subscribe {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 60px;
  /* by using the 'position: relative;' and 'top' attribute
      we are able to position the subscribe section to 
      have that half background-color effect from footer without
      disturbing the flow elements too much*/
  padding: 30px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.subscribe h3 {
  font-size: 1em;
  color: hsl(192, 100%, 9%);
}

.subscribe button {
  width: 80%;
  margin-top: 20px;
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
}

footer {
  padding: 120px 20px 50px;
  text-align: start;
  color: rgba(255, 255, 255, 0.8);
  background-color: hsl(192, 100%, 9%);
}

#logo-footer {
  width: 50%;
  filter: brightness(0) invert(1);
}

.footer-icons {
  width: 5%;
  height: 5%;
}

.location-contacts {
  margin-bottom: 20px;
}

#location-icon {
  margin-top: 20px;
  align-self: flex-start;
}

.location,
.number,
.email {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.soc-links {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.soc-links img {
  width: 30px;
  filter: brightness(0) invert(1);
}

#copyright {
  text-align: center;
  font-size: 0.7em;
}

@media screen and (min-width: 1280px) {
  h1,
  h2 {
    font-size: 1.7em;
  }

  img {
    width: 55%;
  }

  body {
    text-align: start;
    overflow-x: hidden;
  }

  header {
    padding: 60px;
  }

  #logo-header {
    width: 12%;
  }

  #button-header {
    padding: 10px 60px;
  }

  .brand-intro {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 60px;
    background-image: url(images/bg-hero-desktop.svg);
  }

  .intro-texts {
    width: 40%;
    align-items: flex-start;
  }

  .brand-intro button {
    padding: 15px 70px;
    border-radius: 30px;
  }
  .grow,
  .conversations,
  .users {
    width: 85%;
    flex-direction: row;
  }

  .features-textLeft,
  .features-textRight {
    width: 50%;
    align-items: flex-start;
  }

  .grow img,
  .users img {
    order: 2;
  }

  .features-textLeft {
    order: 1;
  }
  .features-imgs {
    width: 30%;
  }

  .subscribe {
    width: 50%;
  }

  .subscribe h3 {
    font-size: 1.3em;
    margin-bottom: 0;
  }

  .subscribe button {
    width: 40%;
    padding: 20px 40px;
    border-radius: 30px;
  }

  footer {
    padding: 120px 100px 50px;
  }

  #logo-footer {
    width: 20%;
    margin: 20px 0;
  }

  .info-nav-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .location-contacts {
    width: 33%;
  }

  .location-contacts p {
    margin-top: 0;
  }

  #location-icon {
    margin-top: 10px;
  }

  .soc-links {
    justify-content: flex-start;
  }

  #copyright {
    text-align: end;
  }
}
