h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
button {
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  border: none;
}
body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#button-header {
  color: black;
  background-color: aliceblue;
}
